{% load static %}

<section class="about_area section_gap">
    <div class="container">
      <div class="row justify-content-start align-items-center">
        <div class="col-lg-5">
          <div class="about_img">
            <img class="" src="{% static 'img/about-us.png' %}" alt="">
          </div>
        </div>

        <div class="offset-lg-1 col-lg-5">
          <div class="main_title text-left">
            <p class="top_text">Tentang kami <span></span></p>
            <h2>
              ICT Business & <br>
              Technical planner 
            </h2>
            <p>
              kekuatan dari dalam kekuatan dari dalamkekuatan dari dalamkekuatan dari dalamkekuatan dari dalamkekuatan dari dalamkekuatan dari dalamkekuatan dari dalam
            </p>
            <a class="primary_btn" href="{% static 'xsss-cheat-sheet-2020.pdf' %}"><span>Portfolio</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>