<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="main_title">
      <p class="top_text">Last Project<span></span></p>
      <!--<h2>What Service We <br>
        Offer For You </h2>-->
    </div>
  </div>
</div>

  <div class = "page-margin">
    
    <div class="projects-wrapper">
      
      <div class = "project1 projects-grid">
        <a href="https://www.buzzvelo.com" target="_blank">
          <img class = "project-images" src="https://preview.ibb.co/kWpYDm/MockUp2.jpg" alt="Cyclists going around a corner"><p class="bold-text">
        <p class="bold-text">Buzz Velo</p>
          <p>A WordPress site for cycling content</p>
          </a>
      </div>
      
      <div class = "project2 projects-grid">
        <a href="https://www.m.me/buzzvelo/?ref=JWpage" target="_blank">
          <img class = "project-images" src="https://preview.ibb.co/kWpYDm/MockUp2.jpg" alt="Man holding up smartphone with Messenger open"><p class="bold-text">
<p class="bold-text">Johnny Velo</p>
          <p>Buzz Velo's personal Messenger bot</p>
            
          </a>
      </div>
      
      <div class = "project3 projects-grid">
        <a href="https://codepen.io/JordanWille/pen/vpVmyG" target="_blank">
          <img class = "project-images" src="https://i.ytimg.com/vi/dT0IdHZFgLY/maxresdefault.jpg" alt="Tye Sheridan as Wade Watts aka Parzival"><p class="bold-text">Wade Watts Page</p>
        <p>A tribute page for <em>Ready Player One</em>'s protagonist</p>
        </a>
      </div>
          
      <div class = "project4 projects-grid">
        <a href="https://codepen.io/JordanWille/pen/rJBgMq" target="_blank">
          <img class = "project-images" src="https://burst.shopifycdn.com/photos/developer-coding-on-laptop_925x.jpg" alt="My workstation"><p class="bold-text">
        <p class="bold-text">Advocat App</p>
        <p>Currently a work in progress</p>
        </a>
      </div>
      
    </div>  <!-- end of projects-wrapper -->
    
    
  <p class = "center-text larger-upper-margin cta-footer">Hubungi kami untuk mendiskusikan kemungkinan kerjasama! </p>
    
 
      <div class="social-icons">
         <div>
           <a href="https://www.facebook.com/jordanqwille" target='_blank'>
              <i class="fab fa-facebook" style="font-size: 2.5rem;" aria-hidden="true"></i>
           </a>
         </div>
        <div>
         <a href="https://twitter.com/VanCityLabs" target='_blank'>
          <i class="fab fa-twitter-square" style="font-size: 2.5rem;" aria-hidden="true"></i>
         </a>
        </div>
        <div>
          <a href="https://www.instagram.com/jordan.wille/" target='_blank'>
            <i class="fab fa-instagram" style="font-size: 2.5rem;" aria-hidden="true"></i>
          </a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/jordanwille/" target='_blank'>
           <i class="fab fa-linkedin" style="font-size: 2.5rem;" aria-hidden="true"></i>
          </a>
        </div>
        <div>
           <a href="https://github.com/JordanWille" target='_blank'>
              <i class="fab fa-github-square" style="font-size: 2.5rem;" aria-hidden="true"></i>
           </a>
         </div>
      </div>
    </div>
    

  </div> <!-- page margin -->
</div><!-- container -->