{% extends 'base/base.html' %}
{% load static %}
{% block content %}

  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>Portfolio</h2>
                  <div class="page_link">
                      <a href="{% url 'home' %}">Home</a>
                      <a href="{% url 'portfolio' %}">Portfolio</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->
  {% include 'partials/portfoliodetail.html' %}
  {% include 'partials/brandpartner.html' %}


{% endblock %}
