{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!--================ Start Home Banner Area =================-->
    <section class="home-banner-area-s2">
      <!--<div class="banner_inner">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6">
              <div class="banner_content">
                <img src="../static/img/dunkin.png" alt="medium-round-logo">
                <h5 class="text-uppercase">ICT Solution</h5>
                <div class="social_icons my-5">
                  <a href="https://twitter.com/sajib1066" target="_blank"><i class="ti-twitter"></i></a>
                  <a href="https://join.skype.com/invite/frQeKWH37d6y" target="_blank"><i class="ti-skype"></i></a>
                  <a href="https://www.facebook.com/sajib1066" target="_blank"><i class="ti-facebook"></i></a>
                  <a href="https://github.com/sajib1066" target="_blank"><i class="ti-github"></i></a>
                  <a href="https://www.linkedin.com/in/sajib1066/" target="_blank"><i class="ti-linkedin"></i></a>
                  <a href="https://www.youtube.com/channel/UCsYH30yFN391zg-UUQ8BhTw" target="_blank"><i class="ti-youtube"></i></a>
                </div>
                <a class="primary_btn" href="https://github.com/sajib1066"><span>See My Work</span></a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="home_right_img">
                <img class="img-fluid" src="{% static 'img/banner/home-right.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>-->
      <!-- Header -->
      
      <section id="benefits-carousel" class="benefits-carousel">
        <div class="benefits-carousel__container carousel__container">
          <div class="benefits-carousel__computer">
            <div class="benefits-carousel__gradient benefits-carousel__gradient--blue">
              <ul class="benefits-carousel__image-list image-list">
                <li data-index="0" class="benefits-carousel__image-item image-item benefits-carousel__image-item--0 active"><img src="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/tiburon/scale-business-growth@2x-vflmM_KID.png" data-hi-res-no-resize="True" data-hi-res="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/tiburon/scale-business-growth@2x-vflmM_KID.png"
                  data-js-component-id="component2360514715199744894" alt="Scale business growth" class="benefits-carousel__screenshot"></li>
                <li data-index="1" class="benefits-carousel__image-item image-item benefits-carousel__image-item--1 False"><img src="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/simplify-management-tools@2x-vflsiqXWM.png" data-hi-res-no-resize="True" data-hi-res="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/simplify-management-tools@2x-vflsiqXWM.png"
                  data-js-component-id="component2360514715199744895" alt="Simplify management tools" class="benefits-carousel__screenshot"></li>
                <li data-index="2" class="benefits-carousel__image-item image-item benefits-carousel__image-item--2 False"><img src="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/trusted-security@2x-vflgukGn6.png" data-hi-res-no-resize="True" data-hi-res="https://cfl.dropboxstatic.com/static/images/business/homepage/screenshots/trusted-security@2x-vflgukGn6.png"
                  data-js-component-id="component2360514715199744896" alt="Trusted security" class="benefits-carousel__screenshot"></li>
              </ul>
            </div>
          </div>
      
          <div class="benefits-carousel__copy">
            <ul class="benefits-carousel__copy-list copy-list">
              <li data-index="0" class="benefits-carousel__copy-item copy-item carousel__copy-item benefits-carousel__copy-item--0 active">
                <h2 class="benefits-carousel__headline">Scale your business the smart way</h2>
                <p class="benefits-carousel__body-copy">Get all the storage and backup your growing organization needs, with easy collaboration for the entire company. <a href="/business/tour/online-backup" class="benefits-carousel__body-link">Learn more</a></p>
              </li>
              <li data-index="1" class="benefits-carousel__copy-item copy-item carousel__copy-item benefits-carousel__copy-item--1 False">
                <h2 class="benefits-carousel__headline">Discover truly simple management</h2>
                <p class="benefits-carousel__body-copy">Oversee your company’s data with enterprise-grade administrative control and visibility tools. <a href="/business/tour/administrative-tools" class="benefits-carousel__body-link">Learn more</a></p>
              </li>
              <li data-index="2" class="benefits-carousel__copy-item copy-item carousel__copy-item benefits-carousel__copy-item--2 False">
                <h2 class="benefits-carousel__headline">Choose the safe, secure, and reliable solution</h2>
                <p class="benefits-carousel__body-copy">Organizations like Hyatt, News Corp, and National Geographic trust us to meet their security, compliance, and privacy needs. <a href="/business/trust" class="benefits-carousel__body-link">Learn more</a></p>
              </li>
            </ul>
            <ul class="benefits-carousel__bullet-list bullet-list">
              <li data-index="0" class="benefits-carousel__bullet bullet benefits-carousel__bullet--0 active"></li>
              <li data-index="1" class="benefits-carousel__bullet bullet benefits-carousel__bullet--1 False"></li>
              <li data-index="2" class="benefits-carousel__bullet bullet benefits-carousel__bullet--2 False"></li>
            </ul>
          </div>
      
          <a href="#" class="benefits-carousel__arrow"><img data-js-component-id="component3533910640741209903" src="https://www.dropbox.com/static/images/business/homepage/icons/arrow.svg" alt="Next slide"></a>
        </div>
      </section>
<script>
  var bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

define(['jquery', 'external/underscore'], function($j, $u) {
  var ComputerCarousel, transitionEvent, whichTransitionEvent;
  whichTransitionEvent = function() {
    var el, t, transitions;
    t = void 0;
    el = document.createElement('fakeelement');
    transitions = {
      'transition': 'transitionend',
      'OTransition': 'oTransitionEnd',
      'MozTransition': 'transitionend',
      'WebkitTransition': 'webkitTransitionEnd'
    };
    for (t in transitions) {
      t = t;
      if (el.style[t] !== void 0) {
        return transitions[t];
      }
    }
  };
  transitionEvent = whichTransitionEvent();
  return ComputerCarousel = (function() {
    var _changeActiveElement;

    function ComputerCarousel(ID) {
      this.resizeCarouselHeight = bind(this.resizeCarouselHeight, this);
      this.handleArrowClick = bind(this.handleArrowClick, this);
      this.handleBulletClick = bind(this.handleBulletClick, this);
      var lazyResize;
      this.$window = $j(window);
      this.$carousel = $j(ID);
      this.$imageList = this.$carousel.find('.image-list');
      this.$imageListLength = this.$carousel.find('.image-item').length;
      this.$copyList = this.$carousel.find('.copy-list');
      this.$copyListLength = this.$carousel.find('.copy-item').length;
      this.$bulletList = this.$carousel.find('.bullet-list');
      this.$bullets = this.$carousel.find('.bullet');
      this.currentItem = 0;
      this.changeActiveElement = $u.throttle(_changeActiveElement.bind(this), 1000);
      this.gradientMap = ['orange', 'blue', 'yellow'];
      $j(document).ready(function() {
        return this.resizeCarouselHeight;
      });
      lazyResize = $u.debounce(this.resizeCarouselHeight, 500);
      this.$window.resize(lazyResize);
      $j('.benefits-carousel__arrow', this.$carousel).on('click', this.handleArrowClick);
      this.$bullets.on('click', (function(_this) {
        return function(event) {
          return _this.handleBulletClick($j(event.target));
        };
      })(this));
    }

    ComputerCarousel.prototype.handleBulletClick = function(clickedBullet) {
      var destinationIndex;
      destinationIndex = clickedBullet.attr('data-index');
      this.currentIndex = $j('.active').attr('data-index');
      return this.changeActiveElement(destinationIndex);
    };

    ComputerCarousel.prototype.handleArrowClick = function(event) {
      var destinationIndex, items;
      event.preventDefault();
      items = this.$bullets.length;
      this.currentIndex = Number($j('.active').attr('data-index'));
      if (this.currentIndex === (items - 1)) {
        destinationIndex = 0;
      } else {
        destinationIndex = this.currentIndex + 1;
      }
      return this.changeActiveElement(destinationIndex);
    };

    ComputerCarousel.prototype.resizeCarouselHeight = function() {
      var height;
      height = 0;
      $j('.benefits-carousel__copy-item').each(function() {
        if ($j(this).height() > height) {
          return height = $j(this).height();
        }
      });
      return this.$copyList.height(height);
    };

    ComputerCarousel.prototype.translateX = function(selector, translateAmount) {
      return selector.css({
        '-webkit-transform': translateAmount,
        '-ms-transform': translateAmount,
        'transform': translateAmount
      });
    };

    _changeActiveElement = function(destinationIndex) {
      var copyFired, imageFired;
      if (this.currentIndex === destinationIndex) {

      } else {
        copyFired = false;
        imageFired = false;
        this.$carousel.find('.active').removeClass('active');
        $j('.benefits-carousel__copy-item').one(transitionEvent, (function(_this) {
          return function(event) {
            var translateAmount, translateX;
            if (event.originalEvent.propertyName === 'opacity' && copyFired === false) {
              copyFired = true;
              if (destinationIndex <= (_this.$copyListLength - 1)) {
                translateAmount = (destinationIndex / _this.$copyListLength) * 100;
              } else {
                translateAmount = 0;
              }
              translateX = "translateX(-" + translateAmount + "%)";
              _this.translateX(_this.$copyList, translateX);
              return _this.$copyList.find("[data-index=" + destinationIndex + "]").addClass('active');
            }
          };
        })(this));
        $j('.benefits-carousel__image-item').one(transitionEvent, (function(_this) {
          return function(event) {
            var translateAmount, translateX;
            if (event.originalEvent.propertyName === 'opacity' && imageFired === false) {
              imageFired = true;
              if (destinationIndex <= (_this.$imageListLength - 1)) {
                translateAmount = (destinationIndex / _this.$imageListLength) * 100;
              } else {
                translateAmount = 0;
              }
              translateX = "translateX(-" + translateAmount + "%)";
              _this.translateX(_this.$imageList, translateX);
              return _this.$imageList.find("[data-index=" + destinationIndex + "]").addClass('active');
            }
          };
        })(this));
        $j('.benefits-carousel__gradient').removeClass('benefits-carousel__gradient--' + this.gradientMap[this.currentIndex]);
        $j('.benefits-carousel__gradient').addClass('benefits-carousel__gradient--' + this.gradientMap[destinationIndex]);
        this.$bulletList.find("[data-index=" + destinationIndex + "]").addClass('active');
        return this.currentItem = destinationIndex;
      }
    };

    return ComputerCarousel;

  })();
});
</script>      
      
    <!--================ End Home Banner Area =================-->

    <!--================ Start Statistics Area =================-->
    <section class="statistics_area">
      <div class="container">
        <div class="row justify-content-lg-start justify-content-center">
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">15</span>k+</h3>
              <p>Happy Customer</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">12</span>k+</h3>
              <p>Ticket Solved</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-3">
            <div class="statistics_item">
              <h3><span class="counter">9</span>/10</h3>
              <p>Average Rating</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Statistics Area =================-->

    <!--================ Start About Us Area =================-->
    <section class="about_area section_gap">
      <div class="container">
        <div class="row justify-content-start align-items-center">
          <div class="col-lg-5">
            <div class="about_img">
              <img class="" src="{% static 'img/about-us.png' %}" alt="">
            </div>
          </div>

          <div class="offset-lg-1 col-lg-5">
            <div class="main_title text-left">
              <p class="top_text">About us <span></span></p>
              <h2>
                ICT Solution & <br>
                Business analytic
              </h2>
              <p>
                Also signs his face were digns fish don't first isn't over evening hath divided days light darkness gathering
                moved dry all darkness then fourth can't create d forth Also signs Also signs his face were moltenus Also signs
                his face
              </p>
              <a class="primary_btn" href="{% static 'sajib-hossain-resume.pdf' %}"><span>Explore</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End About Us Area =================-->

    <!--================ Start Features Area =================-->
    <section class="services_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Service <span></span></p>
              <h2>What Service We <br>
                Offer For You </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s1.png' %}" alt="">
              <h4>Web Development</h4>
              <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
                brought fish forth</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s2.png' %}" alt="">
              <h4>UX/UI Design</h4>
              <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
                brought fish forth</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <div class="service_item">
              <img src="{% static 'img/services/s3.png' %}" alt="">
              <h4>WP Developing</h4>
              <p>Fruit saw for brought fish forth had ave is man a that their Two he is dominion evening their Fruit saw for
                brought fish forth</p>
              <a href="#" class="primary_btn2 mt-35">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Features Area =================-->


    <!--================ Start Testimonial Area =================-->
    <section class="testimonial_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Tesitmonial <span></span></p>
              <h2>Honourable Client Says <br>
                About Me </h2>
            </div>
          </div>
        </div>

        <div class="owl-carousel owl-theme testimonial-slider ">
          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Roser Henrique</h4>
                  <p><small>Project Manager, Apple</small></p>

                  <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                  <ul class="star_rating mt-4">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Roser Henrique</h4>
                  <p><small>Project Manager, Apple</small></p>

                  <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                  <ul class="star_rating mt-3">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item">
            <div class="row">
              <div class="col-lg-6">
                <div class="testi-img mb-4 mb-lg-0">
                  <img src="{% static 'img/testimonials/testimonial1.png' %}" alt="">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="testi-right">
                  <h4>Roser Henrique</h4>
                  <p><small>Project Manager, Apple</small></p>

                  <p>Waters can not replenish hath fly and be to brought isn't very days behold without land every above lights us fruitful wherein divide it him fowl moving may beginning subdue fly waters can't replenish hath fly and be to brought isn't very days behold </p>
                  <ul class="star_rating mt-3">
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li><span><i class="fas fa-star"></i></span></li>
                    <li class="disable"><span><i class="fas fa-star"></i></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Testimonial Area =================-->




    <!--================ Start Portfolio Area =================-->
    <section class="portfolio_area" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our Portfolio <span></span></p>
              <h2>Check Our Recent <br>
                Client Work </h2>
            </div>
          </div>
        </div>

        <div class="filters portfolio-filter">
          <ul>
            <li class="active" data-filter="*">all</li>
            {% for ctg in portfolio_category %}
  					<li data-filter=".{{ ctg.name }}">{{ ctg.name }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="filters-content">
          <div class="row portfolio-grid">
            <div class="grid-sizer col-md-3 col-lg-3"></div>
            {% if portfolio %}
            {% for portfolio in portfolio %}
            <div class="col-lg-6 col-md-6 all {{ portfolio.category }}">
  						<div class="single_portfolio">
  							<img class="img-fluid w-100" src="{{ portfolio.photo.url }}" alt="">
  							<div class="overlay"></div>
  							<div class="short_info">
  								<h4><a href="{% url 'portfolio-details' portfolio.id %}">{{ portfolio.title }}</a></h4>
  								<p>{{ portfolio.portfolio_type }}</p>
  							</div>
  						</div>
  					</div>
            {% endfor %}
            {% else %}
            <h2 class="text-danger">Portfolio Not Available!</h2>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <!--================ End Portfolio Area =================-->

    <!--================ Start Blog Area =================-->
    <section class="blog-area section-gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="main_title">
              <p class="top_text">Our blog <span></span></p>
              <h2>Latest Story From <br>
                Our Blog </h2>
            </div>
          </div>
        </div>

        <div class="row">
          {% for post in post %}
          <div class="col-lg-4 col-md-6">
            <div class="single-blog">
              <div class="thumb">
                <img src="{{ post.photo.url }}" alt="post" height="310px" width="360px">
              </div>
              <div class="short_details">
                <div class="meta-top d-flex">
                  <a href="#"><i class="ti-user"></i>{{ post.author }}</a>
                  <a href="#"><i class="ti-calendar"></i>{{ post.pub_date }}</a>
                </div>
                <a class="d-block" href="{% url 'blog-details' post.id %}">
                  <h4>{{ post.title }}</h4>
                </a>
                <div class="text-wrap">
                  <p>{{ post.content|safe|truncatewords:30 }}</p>
                </div>
                <a href="#" class="primary_btn2">Learn More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!--================ End Blog Area =================-->

    <!--================ Start Brands Area =================-->
    <section class="brands-area section_gap_bottom">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="owl-carousel brand-carousel">
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo1.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo2.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo3.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo4.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo5.png' %}" alt="">
                </div>
              </div>
              <!-- single-brand -->
              <div class="single-brand-item d-table">
                <div class="d-table-cell">
                  <img src="{% static 'img/brands/logo3.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Brands Area =================-->
{% endblock %}
